body{
  background-color: #121212;
  font-family: 'Poppins', sans-serif;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
  outline: none;
  box-shadow: none;
}

.banner{
  margin-top: 130px;
}

/* untuk dekstop */
@media (min-width: 992px) { 
  .img-banner img{
    border-radius: 15%;
    height: 370px;
    width: 426px;
    object-fit: cover;
  }
  .text-banner{
    margin-top: 70px;
    color: white;
  }
}

/* untuk mobile */
@media (max-width: 575.98px) {
  .img-banner img{
    margin-top: -120px;
    border-radius: 15%;
    height: 330px;
    object-fit: cover;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .text-banner{
    margin-top: 45px;
    color: white;
  }
}

.aboutme{
  margin-top: 150px;
}

.text-am{
  color: white;
}

.aniWrap {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50px;
}

.scroll {
	width: 60px;
	height: 60px;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
}

.scroll::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 2px solid rgb(255, 255, 255);
  	border-bottom: 2px solid rgb(255, 255, 255);
		transform: rotate(-45deg);
	}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}



.brd-skill{
  margin-top: 50px;
}

.skill-name{
  color: white;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

.portofolio{
  margin-top: 150px;
  color: white;
}

.rounded-carousel {
    border-radius: 10px;
}


@media (min-width: 992px) { 
  .carousel-inner{
    height: 371px;
    object-fit: cover;
  }
}

/* untuk dekstop */
@media (min-width: 992px) { 
  .text-prtf{
    margin-top: 100px;
  }
}



/* untuk dekstop */
@media (min-width: 992px) { 
  .my-card{
    margin-top: 200px;
  }
  .my-card h5{
    font-size: 30px;
  }
}

/* untuk mobile */
@media (max-width:  979px) {
  .my-card{
    margin-top: 100px;
  }
  .my-card h5{
    font-size: 18px;
  }
}

.card,
.card-body{
  background-color: #3F4D85;
  color: white;
}

.qoute{
  margin-top: 150px;
}

.footer{
  margin-top: 100px;
  color: white;
  opacity: 50%;
  text-align: center;
}